<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/cadastro-produto.js"></script>
    <title>Leve Games! Lista de Produtos</title>
  </head>
  <body>
    <!-- Menu component start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Leve Games!</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/Backoffice/Home">HOME</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Backoffice/Produtos">PRODUTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CLIENTES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">VENDAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">RELATÓRIOS</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Menu component end -->
    <main>
      <div class="container">
        <h1 class="display-4" style="margin-top: 3rem">Novo Produto</h1>
        <form action="#" th:action="@{/Backoffice/Produtos/Novo}" th:object="${produto}" method='POST'>
          <div class="form-group">
            <label for="text">Descricao:</label>
            <input type="text" class="form-control w-50" placeholder="Digite o título" th:field="*{descricao}" id="descricao">
          </div>
          <div class="form-group">
            <label for="text">Codigo Item:</label>
            <input type="text" class="form-control" placeholder="Digite o código do item" th:field="*{codigo_produto}" id="codigo_produto">
          </div>
          <div class="form-group">
            <label for="comment">Preco de Custo:</label>
            <textarea type="text-area" class="form-control" rows="5" placeholder="Digite o preço de custo" th:field="*{preco_custo}" id="preco_custo"></textarea>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="currency">Preço de Venda:</label>
                <input type="number" class="form-control" placeholder="Digite o preço de venda" th:field="*{preco_venda}" id="preco_venda">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="number">Quantidade em estoque:</label>
                <input type="number" class="form-control" th:field="*{quantidade}" id="quantidade">
              </div>
            </div>
          </div>
          <div class="form-group">

            <label for="text">Imagens do produto:</label>
            <ul class="list-group" id="lista-imagens">
              
            </ul>

          </div>
          <div class="form-group" style="text-align: right" >
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              Adicionar Imagem
            </button>

            <!-- The Modal -->
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Adicionar Imagem</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body" style="text-align:left">
                    <label for="text">Insira a URL da imagem:</label>
            <input type="text" class="form-control" placeholder="https://dropbox..." id="url_imagem">
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="addImage();">Adicionar</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <hr>
          
          <div class="form-group" style="margin-top: 2rem">

            <label for="text">Perguntas & Respostas do produto:</label>
            <ul class="list-group-flush" id="lista-pr" style="padding-left: 0px">
              
            </ul>

          </div>
          <div class="form-group" style="text-align: right" >
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
              Adicionar Pergunta<br/> e Resposta
            </button>

            <!-- The Modal -->
            <div class="modal" id="myModal2">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Adicionar Pergunta e Resposta</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body" style="text-align:left">
                    <label for="text">Insira uma pergunta:</label>
                    <input type="text" class="form-control" placeholder="Este jogo vem com conteúdo extra?" id="pergunta">
                    <br>
                    <label for="text">Insira uma resposta:</label>
                    <input type="text-area" rows="3" class="form-control" placeholder="Sim! Ele vem com a dlc xxx..." id="resposta">
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="addPR();">Adicionar</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          
          <hr>
          
          <div class="form-group">
            <button type="submit" value="submit" class="btn btn-outline-success">Cadastrar</button>
            <button type="button" id="visualizar" class="btn btn-outline-secondary" onclick="visualizarProduto();">Visualizar</button>
            <button class="btn btn-outline-info" type="reset" value="Reset" onclick="const myNode = document.getElementById('lista-imagens');myNode.innerHTML = ''; const myNode2 = document.getElementById('lista-pr');myNode2.innerHTML = '';">Resetar</button>

        </form>
      </div>
    </main>
    <!-- Footer component start -->
    <footer class="footer mt-auto py-3" style="left: 0;bottom: 0;width: 100%;text-align: center;">
      <div class="container">
        <a class="navbar-brand navbar-light" href="#">Leve Games!</a><br/>
        <span class="text-muted">© 2020 Leve Games! Todos os direitos reservados.</span>
      </div>
    </footer>
    <!-- Footer component end -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
  </body>
</html>